{{template "header"}}
    	<title>添加类别</title>
  	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				{{template "navbar" .}}
			</div>	
		</div>
		
		<div class="container">
				<div class="alert  alert-error">
			    <strong>警告</strong> {{.error}}
			    </div>

			<h1>添加</h1>
			<form method="post" action="/admin/category/add">
				<div class="form-group">
					<label>分类：</label>
					<select name="path">
						<option value="0">根目录</option>
						{{range .lists}}
						<option value="{{.Path}}">
						|{{.Level | repeat}}{{.Title}}</option>
						{{end}}
					</select>
				</div>

				<div class="form-group">
					<label>分类名称：</label>
					<input type="text" class="form-control" name="title">
				</div>

<!-- 				<div class="form-group">
					<label>文章内容：</label>
					<textarea name="content" cols="30" rows="10" class="form-control"></textarea>
				</div> -->

				<div class="form-group">
					<label for="is_visible">是否可见：</label>
					<input type="radio" name="is_visible" id="is_visible" value="1" checked="checked">显示
					<input type="radio" name="is_visible" id="is_visible" value="0">隐藏
				</div>

				<div class="form-group">
					<label>排序：</label>
					<input type="text" name="order" id="order" cols="2" class="form-control span2" />
				</div>
				
				<div class="form-grop">
					<label>配图:</lable>
					<input type="file" name="file">
				</div>
				<button type="submit" class="btn btn-default">添  加</button>
			</form>
		</div>

		{{template "footer"}}
	</body>
</html>
