<html>


<head>
<title>fhfhh</title>
</head>

<body>
<form name="frm" method="post" action="/admin/article/img">
<li rel="./static/attachments/20140718181409409.jpg"><input type="text" name="picarr[]" value="./static/attachments/20140718181409409.jpg"><a href="javascript:void(0);" onclick="ClearPicArr('./static/attachments/20140718181409409.jpg')">删除</a><br><input type="text" name="picarr_txt[]" value="11"><span>描述</span></li>

<li rel="./static/attachments/20140718181409409.jpg"><input type="text" name="picarr[]" value="./static/attachments/20140718181409409.jpg"><a href="javascript:void(0);" onclick="ClearPicArr('./static/attachments/20140718181409409.jpg')">删除</a><br><input type="text" name="picarr_txt[]" value="22"><span>描述</span></li>
<input type="submit" name="submit" value="submit" />
</form>
</body>
</html>